/* Setup */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* Components */
@import 'cmps/app-header.css';
@import 'cmps/user-msg.css';

.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    padding: 15px 0 0;
    list-style: none;
    gap: 15px;
    margin: 10px;
}

.book-card {
    background-color: antiquewhite;
    border-radius: 10px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.red-price{
    color: red;
}

.green-price{
    color: green;
}

.read-more-a{
    color: black;
    font-weight: 700;
    font-size: large;
    text-decoration: underline;
}

.preview-book-img{
    margin-top: 10px;
    /* border: 3px solid black; */
}

.book-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
}

/* .preview-sale-icon{
    position: relative;
    top: 55%;
} */

.app-nav .active{
   color: rgb(246, 105, 105); 
   font-weight:500;
}

.review-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.review-card {
    background-color: #56dc8c85;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
}

.add-review-container {
    padding: 20px;
    margin: 10px;
    background-color: #56dc8c85;
    flex-direction: row;
}


.google-book-add{
    background-color: rgba(46, 169, 169, 0.682);
}